<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />

    <title>Update</title>
  </head>
  <body>
    <div class="container my-2">
      <div id="message_update" class="m-2"></div>
      <h2 class="h2">Edit</h2>

      <form id="myFormUpdate">
        <input type="hidden" id="formId" value="<%-data.id %>" />
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="formName"
            value="<%-data.name %>"
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="formEmail"
            name="email"
            value="<%-data.email %>"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="formNumber"
            name="phone"
            value="<%-data.phone %>"
          />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <button onclick="history.go(-1)" class="btn btn-dark">Back</button>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $("#myFormUpdate").submit(function (e) {
          e.preventDefault();

          console.log("update..");

          $.ajax({
            type: "PUT",
            url: "/update",
            data: {
              hidden_id: $("#formId").val(),
              name: $("#formName").val(),
              email: $("#formEmail").val(),
              phone: $("#formNumber").val(),
            },
            success: function (response, status) {
              if (response.status == 200) {
                $("#message_update").html(
                  `<div class="alert alert-success" role="alert">Data updated succesfully.</div>`
                );

                setTimeout(() => {
                  window.location.replace(response.url);
                }, 2000);
              } else {
                $("#message_update").html(
                  `<div class="alert alert-danger" role="alert">Something went wrong.</div>`
                );
              }
            },
            error: function (err) {
              console.log(err);
            },
          });
        });
      });
    </script>
  </body>
</html>
